@using System.Data
@{
    ViewData["Title"] = "How to contact wiht us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Michał Borkowski<br />
    Ku Cytadeli, Poznan<br />
    <abbr title="Phone">Phone:</abbr>
    600-220-062
    @DateTime.Now;
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Michal.Borkowski.co@gmial.com">Michal.Borkowski.co@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Michal.Borkowski.co@gmail.com">Michal.Borkowski.co@gmail.com</a>
</address>
